/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14.06.2018, 19:27:47
    Author     : Stefanie Langhammer
*/

.ui-menu{
    background-color:black;
  
  
    font-size:15pt;
}

.ui-widget{
    background-color:rgba(0,0,0,0.3);
}

